################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/AutoStopIISEXPRESS/obj/Debug
/AutoStopIISEXPRESS/.vs
/.vs
